.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &-container {
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 265px 0 190px;

    .title {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 6rem;
      font-weight: 800;
    }

    .sub-title {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 2.1rem;
    }

    .buttons {
      display: flex;
      gap: 20px;
    }
  }
}
