.prosAndCons {
  display: flex;

  .title-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50px;

      h1 {
        font-weight: 700;
      }
    }
  }

  .icon-wrapper {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;

    .icon {
      color: white;
      margin-top: 0.9rem;
      font-size: 3.2rem;
    }
  }

  .pros {
    flex: 1;
    padding: 5rem 6rem;
    background-color: #dce9d5;

    .icon-wrapper {
      background-color: #72b159;
    }
  }

  .cons {
    flex: 1;
    padding: 5rem 6rem;
    background-color: #eecdcd;

    .icon-wrapper {
      background-color: #c4413a;
    }
  }
}
